$round: 530px;
$roundTop: 215px;

$large: 1100px;
$medium: 980px;
$small: 700px;
$micro: 580px;

.circle{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border: 1px solid rgba(66, 87, 122, 0.2);
    background-color: #F4F5F9;
}
.roundContainer{
    width: 100%;
    min-height: calc($round + $roundTop + 96px);
    box-sizing: border-box;
    @media (max-width: $micro) {
        min-height: 300px;
    } 
    .date{        
        z-index: 3;
        font-size: 200px;
        font-weight: 700;
        position: absolute;
        line-height: 200px;
        top: calc($round / 2 + $roundTop - 120px );
        @media (max-width: $large) {
            font-size: 11em;
        } 
        @media (max-width: $medium) {
            font-size: 8em;
        } 
        @media (max-width: $small) {
            font-size: 6.5em;
        } 
        @media (max-width: $micro) {
            top: 163px;
            font-size: 56px;
            line-height: 56px;
        } 
    }
    .leftDate{
        margin: 0px;
        padding: 0px;
        color: #5D5FEF;
        right: calc(50% + 50px);        
        @media (max-width: $medium) {
            right: calc(50% + 30px); 
        } 
        @media (max-width: $micro) {
            left: 20px;
            text-align: left;
        } 
    }
    .rightDate{
        color: #EF5DA8;
        left: calc(50% + 50px);    
        @media (max-width: $medium) {
            left: calc(50% + 30px); 
        } 
        @media (max-width: $micro) {
            right: 20px;
            text-align: right;
        } 
    }
    .miniHeader{
        position: absolute;
        left: calc(50% + $round / 4 + 70px);
        top: calc($roundTop + 35px);;
        z-index: 999;
        font-size: 20px;
        font-weight: 700;
        @media (max-width: $micro) {
            display: none;
        } 
    }
    .roundContainer__round{
        z-index: 4;
        box-sizing: border-box;
        width: $round;
        height: $round;
        position: absolute;
        top: $roundTop;
        left: calc(50% - $round / 2);
        background: none;
        @media (max-width: $large) {
            font-size: 11em;
        } 
        @media (max-width: $medium) {
            font-size: 8em;
        } 
        @media (max-width: $small) {
            font-size: 6.5em;
        } 
        @media (max-width: $micro) {
            display: none;
        } 
        .activePoints{
            z-index: 7;
            width: 56px;
            height: 56px;
            box-sizing: border-box;
            position: absolute;
            top: -28px;
            left: 237px;
            transform-origin: 28px 293px;
            font-size: 20px;
            line-height: 52px;
            cursor: pointer;
        }
        .points{
            z-index: 7;
            width: 6px;
            height: 6px;
            box-sizing: border-box;
            position: absolute;
            top: -3px;
            left: 261.5px;
            transform-origin: 3px 267.5px;
            font-size: 0px;
            cursor: pointer;
            background: #42567A;
        }
    }
    .roundContainer__header{
        position: relative;
        padding-left: 80px;
        top: 170px;
        text-align: left;
        color: #42567A;
        font-size: 56px;
        line-height: 67.2px;
        font-weight: 700;
        border-width: 5px;
        border-style: solid;
        border-image: 
            linear-gradient(
            to bottom, 
            #5D5FEF, 
            #EF5DA8(0, 0, 0, 0)
            ) 1 100%;
        -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#5D5FEF), to(#EF5DA8)) 0 0 0 100% stretch;
        @media (max-width: $medium) {
            font-size: 45px;
            line-height: 45px;
        } 
        @media (max-width: $small) {
            font-size: 40px;
            line-height: 40px;
        }     
        @media (max-width: $micro) {
            top: 59px;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            padding-left: 0px;
            border: none;
        } 
    }
    .roundContainer__buttons{
        position: absolute;
        padding-left: 80px;
        top: 697px;
        text-align: left;
        color: #42567A;
        z-index: 999;
        @media (max-width: $micro) {
            top: auto;
            bottom: 13px;
            padding: 0px;
        } 
        div{
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 400;
        }
        button{
            box-sizing: border-box;
            width: 50px;
            height: 50px;
            font-size: 20px;
            margin-right: 20px;
            z-index: 6;
            cursor: pointer;
        }
    }
    .roundContainer__borderHorizont{
        z-index: 2;
        position: absolute;
        box-sizing: border-box;  
        width: 100%;
        height: 1px;
        left: 0px;
        top: calc($round / 2 + $roundTop);
        border-bottom: 1px solid rgba(66, 87, 122, 0.2);
        @media (max-width: $micro) {
            top: 293px;
        } 
    }
    .roundContainer__borderVertical{
        z-index: 2;
        box-sizing: border-box;  
        position: absolute;
        left: calc(50% - 0.5px);
        top: 0px;
        width: 1px;
        min-height: calc($round + $roundTop + 96px);
        height: 100%;
        border-right: 1px solid rgba(66, 87, 122, 0.2);
        @media (max-width: $micro) {
            display: none;
        } 
    }
}

