@import url('https://fonts.googleapis.com/css2?family=PT+Sans');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700');



.App {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid rgba(66, 87, 122, 0.2);
  border-left: 1px solid rgba(66, 87, 122, 0.2);
  @media (min-width: 1440px) {
    margin: 0px auto;
    width: 1440px;
  } 
  @media (max-width: 580px) {
    width: 100%;
    padding: 0px 20px 0px 20px;
    margin: 0px;
    border: none;
  } 
}
body{
  background-color: #F4F5F9;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;  
  color: #42567A;
  font-family: 'PT Sans' !important;
}