.App {
  width: calc(100% - 20px);
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid rgba(66, 87, 122, 0.2);
  border-left: 1px solid rgba(66, 87, 122, 0.2);
  margin: 0px 10px 0px 10px;
  @media (max-width: 980px) {
    width: 100%;
    padding: 0px 20px 0px 20px;
    margin: 0px;
    border: none;
  } 
}
body{
  background-color: #F4F5F9;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
